
a, a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
}

/*All Site Menu Navigation Start*/
/*-----------------------------------*/

/*1. Header*/
/*2. Left-Sidbar*/
/*3. Home Page Main Content*/
     /*3.1 Main 1*/
     /*3.2 Main 2*/
     /*3.3 Main 3*/
/*4. Footer*/
/*5. Products*/
/*6. Checkout*/
/*7. Cart*/
/*8. Login & Register*/
/*9. 404*/
/*10. Contact*/
/*11. Blog List*/
/*12. Blog Single*/
/*13. Product Detalis*/


/*------------------------------------*/
/*All Site Menu Navigation End*/




/*1 Header Start*/
.header-info{
	background: #F0F0E9;
}
.header-info .col-sm-6{
	line-height: 34px;
	padding-top: 6px;
}
.header-info a{
	color: #6D6B66;
	font-size: 18px;
}
.header-info .tel a span{
	margin-left: 10px;
}
.header-info .tel a:last-child{
	margin-left: 20px;
}
.header-info ul li{
	display: inline-block;
	margin-left: 20px;
}
.header-info ul a:hover{
	color: #FE980F;
}
@media only screen and (max-width: 991px){
	.header-info{
		display: none;
	}
}

.header-logo  .row{
	border-bottom: 1px solid #f7f7f7;
}
.header-logo .img-block{
	width: 150px;
}
.header-logo ul li{
	display: inline-block;
	margin-left: 20px;
}
.header-logo ul{
	margin-top: 20px;
	line-height: 60px;
}
.header-logo .text-right a span{
	margin-left: 10px;
}
.header-logo ul a{
	color: #75736F;
}
.header-logo ul a:hover{
	color: #FE980F;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #555;
	background-color: transparent!important;
}
@media  only  screen and (max-width: 576px){
	.header-logo ul {
		padding-left: 0;
		text-align: left;
	}
}

header .menu{
	margin-top: 20px;
}
header .menu  .dropdown-menu{
	/*display: block;*/
	transition: all 0.4s ease-in-out;
}
header .menu  .dropdown-menu a{
	color: #777;
}
.dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
}
@media only screen and (min-width: 767px){
	.dropdown:hover .dropdown-menu{
		display: block;
	}
}
.navbar-default .navbar-nav>li>a {
	font-weight: bold!important;
}
@media only screen and (min-width: 768px){
	.navbar-header .img-block{
		display: none;
	}
}
@media only screen and (max-width: 767px){
	.navbar-header .img-block{
		display: block;
		width: 93px;
		position: relative;
		top: -40px;
	}
	.header-logo .img-block{
		display: none;
	}
	.navbar-default{
		background: transparent!important;
		border: none!important;
	}
	form ,.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: transparent!important;
	}
	.header-logo .row {
		border-bottom: none;
	}
}
@media only screen and (max-width: 325px){
	.header-logo ul{
		line-height: 30px;
		text-align: center;
		padding-left: 0px;
	}
	.header-logo .col-xs-12{
		margin-bottom: 15px;
	}
}

/*Header End*/

/*Main Start*/
/*2 Left Sidebar Start*/
.main-slider .carousel img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.left-sidebar{
	margin-top: 60px;
	position: relative;
}
.main-content{
	margin-top: 60px;
}
.left-sidebar .left1 h3{
	text-align: center;
	margin: 10px auto 30px;
}
.left-sidebar .left1 h3 span{
	background: white;
	color: #FE980F;
	padding: 0px 20px;
	z-index: 1;
}
.left-sidebar .left1 h3::after{
	content: "";
	border: 1px solid #F5F5F5;
	position: absolute;
	width: 100%;
	left: 0;
	top: 20px;
	z-index: -2;
}
.left-sidebar .left1 a{
	text-transform: uppercase;
}
.left-sidebar > div > ul{
	border: 1px solid #F7F7F0;
	margin-bottom: 35px;
	padding-bottom: 20px;
	padding-top: 15px;
	line-height: 40px;
	margin-left: -15px;
	margin-right: -15px;
}
.left-sidebar ul a{
	color: #6A6864;
	font-weight: bold;
}
#accordion li{
	position: relative;
	
}
#accordion a i{
	position: absolute;!important;
	left: 80%!important;
	top: 13px;
	font-size: 16px!important;
	color: #6A6864!important;
}
.left-sidebar .panel-body > ul{
	padding-bottom: 20px;
	margin-left: -40px;
}
.left-sidebar .panel-body > ul a{
	font-size: 14px;
}

.left-sidebar .left2{
	padding-top: 25px;
	position: relative;
}

.left-sidebar .left2 h3{
	text-align: center;
	margin: 10px auto 30px;
}
.left-sidebar .left2 h3 span{
	background: white;
	color: #FE980F;
	padding: 0px 20px;
	z-index: 1;
}
.left-sidebar .left2 h3::after{
	content: "";
	border: 1px solid #F5F5F5;
	position: absolute;
	width: 116%;
	left: -17px;
	 top: 46px;
	z-index: -2;
	/*top: 11.5%;*/
}
.left-sidebar ul li > span{
	position: absolute;!important;
	left: 82%!important;
}
/*.left-sidebar .left3{*/
	/*padding-top: 25px;*/
	/*position: relative;*/
/*}*/

/*.left-sidebar .left3 h3{*/
	/*text-align: center;*/
	/*margin: 10px auto 30px;*/
/*}*/
/*.left-sidebar .left3 ul{*/
	/*padding: 10px;*/
/*}*/
/*.left-sidebar .left3 ul b:first-child{*/
	/*margin-right: 10px;*/
/*}*/
/*.left-sidebar .left3 ul b:last-child{*/
	/*margin-left: 10px;*/
/*}*/
/*.slider-handle {*/
	/*background: #fff;*/
	/*box-shadow: none;*/
	/*height: 10px;*/
	/*opacity: 1;*/
	/*position: absolute;*/
	/*width: 10px;*/
/*}*/
/*.slider-selection {*/
	/*-moz-box-sizing: border-box;*/
	/*background: none repeat scroll 0 0 #FE980F;*/
	/*border-radius: 15px;*/
	/*box-shadow: 0 -1px 0 rgba(0,0,0,0.15) inset;*/
	/*position: absolute;*/
/*}*/
/*.left-sidebar .left3 .slider{*/
	/*width: 150px!important;*/
/*}*/
/*.slider.slider-horizontal .slider-track{*/
	/*background: #f7f7f7;*/
/*}*/
/*.left-sidebar .left3 h3 span{*/
	/*background: white;*/
	/*color: #FE980F;*/
	/*padding: 0px 20px;*/
	/*z-index: 1;*/
/*}*/
/*.left-sidebar .left3 h3::after{*/
	/*content: "";*/
	/*border: 1px solid #F5F5F5;*/
	/*position: absolute;*/
	/*width: 116%;*/
	/*left: -17px;*/
	 /*top: 46px;*/
	/*z-index: -2;*/
	/*!*top: 21.5%;*!*/
/*}*/
.left-sidebar .left4{
	padding-top: 25px;
}
.left-sidebar .left4 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.left-sidebar .left4  ul {
	border: none;
	margin-bottom: 35px;
	line-height: 40px;
	margin-right: -15px;
	padding: 0;
}

@media only screen and (max-width: 991px) {
	.left-sidebar .left4 img{
		width: 100%;
		height: 300px;
		object-fit:contain;
	}
	.left-sidebar .left4  ul {
		background: #F2F2F2;
	}
	.left-sidebar .left3 h3::after{
		width: 100%;
	}
	.left-sidebar .left2 h3::after{
		width: 100%;
	}
	.left-sidebar .left3 b:last-child{
		margin-left: 10px;
	}
	
}
/*Left Sidebarr End*/


/*3 Home Page Main COntent Start*/
/*3.1 Main1 Start*/
.main-content {
	padding-left: 50px;
	padding-right: 0px;
}
.main-content .main1{
	/*padding-top: 25px;*/
	position: relative;
}
.main-content .main1 h3{
	text-align: center;
	margin: 10px auto 30px;
}
.main-content .main1 h3 span{
	background: white;
	color: #FE980F;
	padding: 0px 20px;
	z-index: 1;
}
.main-content .main1 h3::after{
	content: "";
	border: 1px solid #F5F5F5;
	position: absolute;
	width: 97%;
	left: 15px;
	top: 9px;
	z-index: -2;
}
.main-content .main1 .col-md-4{
	position: relative;
	margin-bottom: 40px;
	/*border: 1px solid red;*/
}
/*.main-content .main1 .col-md-4:nth-child(1), .main-content .main1 .col-md-4:nth-child(6){*/
	/*padding-right: 0px;*/
/*}*/
.main-content .main1 .img-block{
	border: 1px solid #F7F7F0;
}
.main-content .main1 .img-block img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-content .main1 .img-block > div h2{
	color: #FE980F;
	font-size: 24px;
	font-weight: 700;
}
.main-content .main1 .img-block > div p{
	/*font-size: 14px;*/
	font-weight: 400;
	color: #696763;
}
.main-content .main1 .img-block > div a{
	background: #F5F5ED;
	border: 0 none;
	border-radius: 0;
	color: #696763;
	transition: all 0.5s ease-in-out;
	/*font-family: 'Roboto',sans-serif;*/
	font-size: 15px;
	margin-bottom: 25px;
}

.main-content .main1 .col-md-4 .add-block{
	border: 1px solid #F7F7F0;
	padding: 10px;
	display: table;
	width: 100%;
}
.main-content .main1 .add-block ul{
	padding: 0;
}
.main-content .main1 .add-block ul li{
	padding: 0;
}
.main-content .main1 .add-block ul a{
	color: #B3AFA8;
	/*font-family: 'Roboto',sans-serif;*/
	font-size: 13px;
	padding-left: 0;
	padding-right: 0;
	transition: all 0.2s ease-in-out;
}
.main-content .main1 .img-block > div a:hover {
	background: #FE980F;
	color: white;
}
.main-content .main1 .add-block ul a:hover {
	color: #c3750a;;
}
@media only screen and (max-width: 991px){
	.main-content{
		padding-left: 0px;
	}
}
@media only screen and (min-width: 991px){
	.main-content .main1 .img-block img{
		height: 230px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 767px){
	.main-content .main1 .img-block img{
		height: 230px;
		object-fit: fill;
	}
}
/*Main1 End*/


/*3.2 Main2 Start*/
@media only screen and (max-width: 767px){
	.main-content{
		padding: 0px 10px!important;
	}
	.left-sidebar > div > ul {
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.left-sidebar .left4 ul {
		 margin-right: 0px;
		padding: 0;
	}
	 .slide{
		 margin-left: 15px;
		 margin-right: 15px;
	 }
	.left-sidebar .left2 h3::after {
		left: 0px;
	}
	.left-sidebar .left3 h3::after {
		left: 0px;
	}
	.main-content .main1 h3::after {
		width: 93%;
		left: 13px;;
	}
	.left-sidebar .left1 h3::after {
		width: 94%;
		left: 15px;
	}
}
@media only screen and (max-width: 600px) {
	.carousel-inner{
		height: 300px;
	}
	.carousel img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
}
@media only screen and (max-width: 340px){
	.header-logo ul {
		padding-left: 0;
	}
}
.main-content .main2{
	margin-top: 100px;
	/*display: table;*/
	width: 100%;
	overflow: hidden;
}
.main-content .main2 > .row{
	width: 97%;
	margin-left: 12px;
	margin-bottom: 20px;
}
.button:active,
.button.is-checked {
	background-color: #FE980F;
}

.button.is-checked {
	color: white;
	/*text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);*/
}

.button:active {
	box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}
.portfolio-btn{
	background: #40403E;
	padding: 10px 0px;
	margin-top: 55px;
}
.portfolio-btn .btn{
	/*background: transparent!important;*/
	/*border: none!important;*/
	/*color: white;*/
	outline-color: transparent!important;
	/*padding: 15px 20px;*/
}
.portfolio-btn .btn:hover{
	background: #FE980F!important;
}
@media only screen and (max-width: 576px){
	.portfolio-btn  button{
		margin-bottom: 15px;
	}
}
/*Main2 End*/



/*3.3 Main3 Start*/
.main3{
	position: relative;
	margin-top: 25px;
	
}

.main3  h3{
	text-align: center;
	margin: 10px auto 30px;
}
.main3  h3 span{
	background: white;
	color: #FE980F;
	padding: 0px 20px;
	z-index: 1;
}
.main3  h3::after{
	content: "";
	border: 1px solid #F5F5F5;
	position: absolute;
	width: 100%;
	left: 0;
	top: 12px;
	z-index: -2;
}
.main3 .owl-nav{
	position: relative;
	top: -200px;
}
.main3 .owl-nav button{
	background: #FE980F!important;
	padding: 3px 13px!important;
	border: none!important;
	outline: transparent!important;
	color: white!important;
}
.main3 .owl-nav button span{
	font-size: 20px;
	font-weight: bold;
}
.main3 .owl-nav .owl-next{
	right: 0px;
	position: absolute;
}
/*Main3 ENd*/
/*Main COntent End*/
/*Main End*/


/*4 Footer Start*/
footer{
	background: #F0F0E9;
	padding-top: 25px;
}
.video-block .col-sm-6 div{
	 /*width: 100%;*/
	 height: 100px;
	 /*widows: 60px;*/
}
.video-block .info{
	color: #B3B3AD;
	font-size: 12px;
	font-weight: 300;
}
.video-block .col-sm-6 .img-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 1.5px solid grey;
	border-radius: 5px;
}
footer .col-sm-6 .col-md-3{
	margin-bottom: 40px;
}
footer .col-sm-9 .col-sm-3{
	margin-bottom: 20px;
}
.video-block .col-sm-6 .img-block p {
	color: #8C8C88;
	font-family: 'Roboto',sans-serif;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 0px;
}
.video-block .map-foto .img-block{
	position: relative;
}
.video-block .map-foto .img-block > p{
	position: absolute;
	top: 30%;
	left: 5%;
	color: #666663;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	font-weight: 300
}
footer ul{
	padding: 0;
}
footer ul li{
	line-height: 35px;
}
footer ul li a{
	color: #8C8C88;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}
footer h5{
	margin-bottom: 10px;
	color: #666663;
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
footer .send-email{
	height: 34px;
	padding: 18px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
footer button{
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	margin-left: -5px;
	/* margin-top: 0px; */
	padding: 8px 17px;
}
.fa-arrow-circle-o-right{
	color: white;
}
.info-updates{
	color: #8C8C88;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-top: 25px;
}
footer > div:last-child{
	background: #D6D6D0;
	/*height: 40px;*/
	width: 100%;
}
footer  .pull-left{
	color: #363432;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	line-height: 40px;
	margin-left: 40px;
	margin-bottom: 0;
	font-size: 14px;
}
footer  .pull-right{
	color: #363432;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	line-height: 40px;
	margin-right: 40px;
	margin-bottom: 0;
	font-size: 14px;
}
footer  .pull-right span{
	color: #FE980F;
	text-decoration: underline;
	font-style: initial;
	margin-left: 5px
}
@media only screen and (max-width: 767px){
	.map-foto{
		margin-top: 80px;
		margin-bottom: 50px;
	}
}
/*Footer END*/


/*5. Products Start*/
.checkout .form-control{
	margin-bottom: 20px;
}
.btn-toolbar{
	 margin-bottom: 20px;
 }
.btn-toolbar button{
	margin-right: 7px;
	border-radius: 0px;
}
.btn-toolbar button:hover{
	background: #FE980F;
	color: white;
}
.check1 form > div{
	display: inline-block;
}
@media screen and (max-width: 576px){
	.check1 form > div{
		width: 100%;
	}
	.check1 button {
		padding-left: 20px;
	}
}
/*Products End*/

/*6. Checkout Start*/
.check1{
	padding: 15px;
}
.check1 h5{
	color: #363432;
	font-size: 20px;
	margin-bottom: 0;
	font-weight: normal;
	font-family: 'Roboto',sans-serif;
}
.check1 p{
	color: #434343;
	font-weight: 300;
	margin-bottom: 25px;
}
.check1 form{
	padding-left: 20px;
}
.check1 form input{
	margin-left: 20px;
}
.check1 span{
	margin: 4px 20px 0px 7px;
	margin-top: 1px \9;
	line-height: normal;
	color: #696763;
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
}
.check1 > div{
	background: #F0F0E9;
	padding: 12px 17px;
	margin: 20px 0px;
	font-size: 14px;
	font-weight: 300;
}
.check1 button{
	border: none;
	background: transparent;
	outline: none;
	color: #FE980F;
	font-weight: bold;
	font-size: 18px;
}
.check2{
	padding-top: 20px;
	padding-bottom: 30px;
	display: flow-root;
}
.check2 textarea{
	margin-top: 54px;
}
.check2 .col-sm-3 button,.check2 .col-sm-3 input[type='submit']{
	background: #FE980F;
	color: white;
}
@media only screen and (max-width: 991px){
	.check3 .plus-minus > div{
		padding-top: 3px!important;
	}
}
@media only screen and (max-width: 767px){
	.check2 form .col-sm-6{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.check3 tr td:first-child > div{
	display: inline-block;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vert-align: middle!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: none!important;
}
.check3 > table{
	border: 1px solid #E6E4DF;
}
.check3 > table img{
	margin-left: 15px;
}
.check3 button{
	outline: none!important;
}
.thead-light{
	background: #FE980F;
	border: none!important;
}
.total-result tr{
	margin-bottom: 10px;
	margin-top: 35px;
	color: #696763;
}
.total-result tr:last-child td > span{
	color: #FE980F;
	font-weight: bold;
}
@media only screen and (max-width: 767px) {
	.check3 input{
		width: 54%!important;
	}
}
@media only screen and (max-width: 767px) {
	.check3{
		overflow-x: scroll;
	}
	.check3 .btn{
		padding: 0 5px!important;
	}
	.check3 .form-control {
		height: 26px!important;
		padding: 0px 5px!important;
	}
}
/*6. Checkout End*/


/*7. Cart Start*/
.cart{
	padding-top: 25px;
}
.credit-card-box .panel-title {
	display: inline;
	font-weight: bold;
}
.credit-card-box .form-control.error {
	border-color: red;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
.credit-card-box .payment-errors {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
.credit-card-box label {
	display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
	display: table;
	width: 100%;
}
.credit-card-box .display-tr {
	display: table-row;
}
.credit-card-box .display-td {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
	min-width: 180px;
}

/* Cart End*/


/*8. Login & Register Start*/
.signup{
	margin: 130px auto;
}
.login h4, .register h4{
	color: #696763;
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 30px;
}
.login input, .register input{
	margin-bottom: 20px;
}
.login input[type='submit'], .register input[type='submit']{
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	color: #FFF;
	display: block;
	font-family: 'Roboto',sans-serif;
	padding: 6px 25px;
}
.col-sm-2 .circle-block{
	position: relative;
	left: 30%;
	background: #FE980F;
	width: 50px;
	height: 50px;
	top: 90px;
	border-radius: 50%;
}
.col-sm-2 .circle-block span{
	position: absolute;
	top: 27%;
	left: 25%;
	font-weight: bold;
	
}
@media screen and (max-width: 767px){
	.col-sm-2 .circle-block {
		left: 47%;
		 top: 0px;
	}
}
/* Login & Register End*/

/*9. 404 Start*/
.error-404  a{
	background: #FE980F!important;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
	font-size: 44px;
	font-weight: 300;
	padding: 8px 40px;
}
/* 404 End*/



/*10. Contact Start*/
.contact{
	position: relative;
}
.contact h3{
	text-align: center;
	margin: 10px auto 30px;
}
.contact h3 span{
	background: white;
	color: #FE980F;
	padding: 0px 20px;
	z-index: 1;
}
.contact h3::after{
	content: "";
	border: 1px solid #F5F5F5;
	position: absolute;
	width: 93%;
	left: 26px;
	top: 20px;
	z-index: -2;
}
.contact .my-map{
	padding-bottom: 40px;
	padding-left: 25px;
	padding-right: 24px;
}
.contact input, .contact textarea{
	margin-bottom: 20px;
}
.contact p{
	margin-bottom: 0;
	color: #696763;
	font-size: 16px;
	line-height: 25px;
	margin-left: 15px;
}
.contact .col-sm-8{
	margin-bottom: 110px;
}
.contact .col-sm-4 > div{
	margin-bottom: 50px;
}
.contact ul li{
	display: inline-block;
	margin-left: 20px;
}
.contact ul a{
	color: #6D6B66;
	font-size: 18px;
}
.contact input[type='submit']{
	background: #FE980F;
	color: white;
}
/*10. Contact End*/



/*11. Blog List Start*/
.blog-list{
	position: relative;
	margin-top: 60px;
	padding-left: 50px;
	padding-right: 0px;
}
.blog-list h4{
	color: #696763;
	font-size: 16px;
	font-family: 'Roboto',sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 17px;
}

.blog-list h3{
	text-align: center;
	margin: 10px auto 30px;
}
.blog-list h3 span{
	background: white;
	color: #FE980F;
	padding: 0px 20px;
	z-index: 1;
}
.blog-list h3::after{
	content: "";
	border: 1px solid #F5F5F5;
	position: absolute;
	width: 94%;
	left: 50px;
	top: 20px;
	z-index: -2;
}
.blog-list p{
	margin: 15px 0px;
	color: #363432;
	font-size: 14px;
}
.blog-list > div a{
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	color: #FFF;
	margin-top: 17px;
}
.blog-list > div{
	/*margin-bottom: 60px;*/
}
.blog-list ul{
	margin-bottom: 20px;
	margin-left: -40px;
}
.blog-list ul span {
	float: right;
}
.blog-list ul span i{
	color: #FE980F;
}
.blog-list ul li{
	background: #F0F0E9;
	float: left;
	margin-right: 10px;
	padding: 0 5px;
	font-size: 11px;
	color: #393b3b;
	position: relative;
}
.blog-list .img-block img{
	margin-top: 30px;
	border: 1px solid #F7F7F0;
	width: 100%;
}
.blog-list ul li i{
	background: #FE980F;
	color: #FFF;
	margin-left: -4px;
	margin-right: 7px;
	padding: 4px 7px;
}
.blog-list ul li i::after{
	content: "";
	position: absolute;
	width: auto;
	height: auto;
	border-color: transparent transparent transparent #FE980F;
	border-width: 4px;
	border-style: solid;
	top: 6px;
	left: 24px;
}
@media only screen and (max-width: 991px) {
	.blog-list{
		padding-left: 0px;
	}
	.blog-list h3::after {
		width: 100%;
		left: 0px;
	}
}
@media only screen and (max-width: 767px){
	.blog-list{
		padding-left: 15px;
		padding-right: 15px;
	}
	.blog-list h3::after {
		width: 95%;
		left: 18px;
		top: 12px;
	}
}
@media only screen and (max-width: 430px){
	.blog-list h3::after {
		width: 92%;
		left: 18px;
	}
	.blog-list ul li {
		 float: none;
		margin-bottom: 10px;
	}
}
/*11. Blog List End*/

/*12. Blog Single Start*/
.rate-block{
	border:  1px solid #F7F7F0;
	display: flex;
	margin-bottom: 10px;
	margin-top: 35px;
	padding: 7px 0px;
}
.rate-block a{
	color: #FE980F!important;
	background: transparent!important;
}
.rate-block .col-xs-6:first-child{
	font-size: 14px;
	font-weight: bold;
}
.rate-block .col-xs-6:first-child span{
	font-size: 14px;
	color: #FE980F!important;
}
.comments-block h5, .comments-add-block h5{
	margin-top: 120px;
	font-size: 20px;
	font-weight: bold;
}
.comments-block .img-block img {
	width: 120px;
	height: 100px;
	object-fit: cover;
	margin-top: 15px;
	margin-bottom: 15px;
	/* padding: 39px 0px; */
	border: none;
}
.comments-block > div{
	border:  1px solid #F7F7F0;
    display: table;
	margin-bottom: 30px;
}
.comments-block .img-block{
	float: left;
}
.comments-block .comments{
	padding-left: 24px;
	margin-left: 120px
}
.comments-block .comments p{
	display: inline-block;
}
@media only screen and (max-width: 430px){
	.blog-list ul {
		margin-left: 100px;
		margin-top: 25px;
	}
	.comments-block .comments{
		padding:  0px 10px;
		margin-left: 0px
	}
}
.comments-add-block form {
	padding-top: 30px;
}
.comments-add-block form input{
	margin-bottom: 36px;
}
.comments-add-block input[type='submit'] {
	background: #FE980F;
	 color: white;
}
.scroll{
	position: fixed;
	right: 20px;
	padding: 3px 10px;
	border-radius: 50%;
	bottom: 10px;
	background: #FE980F;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.up{
	opacity: 1;
}
#scrollUp i{
	font-size: 36px;
	color: white;
	position: relative;
	top: -2px;
}
/* Blog Single End*/

/*13. Product Detalis Start*/
.product-detalis{
	 margin-top: 20px;
 }
/*.product-detalis .col-sm-5 .col-sm-12 .img-block{*/
	/*border: 1px solid #F7F7F0;*/
	/*width: 100%;*/
/*}*/
/*.product-detalis .col-sm-5 .col-sm-12 .img-block img{*/
	/*border: 1px solid #F7F7F0;*/
	/*width: 100%;*/
	/*height: 300px;*/
	/*!*object-fit: cover;*!*/
/*}*/
.product-detalis .main3 .owl-nav {
	position: relative;
	top: -65px;
}
.product-detalis .main3 .owl-nav button {
	padding: 0px 8px!important;
}
.product-detalis .main1 .img-block img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}
.product-detalis-info{
	border: 1px solid #F7F7F0;
	overflow: hidden;
	padding-bottom: 38px;
	padding-left: 60px;
	padding-top: 38px;
	position: relative;
}

.product-detalis-info h2{
	color: #363432;
	font-size: 20px;
}
.product-detalis-info p{
	color: #696763;;
}
.product-detalis-info span{
	margin-bottom: 20px;
}
.product-detalis-info span i{
	color: #FE980F;
}
.product-detalis-info span .fa-star-half-o{
	color: #FE980F;
}
.product-detalis-info form{
	margin-top: 20px;
	display: inline-block;
}
.product-detalis-info form button{
	background: #FE980F!important;
	border: 0 none!important;
	border-radius: 0!important;
	color: #fff!important;
	transition: all 0.5s ease-in-out!important;
	/* font-family: 'Roboto',sans-serif; */
	font-size: 15px!important;
	margin-bottom: 3px;
}
.product-detalis-info form span{
	color: #FE980F;
	float: left;
	font-family: 'Roboto',sans-serif;
	font-size: 25px;
	font-weight: 700;
	margin-right: 20px;
	margin-top: 0px;
}
.product-detalis-info form div{
	display: inline;
	color: #696763;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	margin-right: 5px;
}
.product-reviews ul{
	padding: 0;
	margin-top: 40px;
}
.product-reviews ul li{
	background: #F0F0E9;
	float: left;
	margin-right: 10px;
	padding: 0 5px;
	font-size: 11px;
	color: #393b3b;
	position: relative;
}
.product-reviews ul li i{
	background: #FE980F;
	color: #FFF;
	margin-left: -4px;
	margin-right: 7px;
	padding: 4px 7px;
}
.product-reviews > div p{
	display: inline-block;
	padding: 30px 0px 41px;;
	color: #363432;
}
.product-reviews form input{
	margin-bottom: 20px;
}
.product-reviews form input[type='submit']{
	background: #FE980F;
	color: white;
}
.product-detalis-slider h3::after {
	width: 96.5%;
	left: 14px;
}
@media only screen and (max-width: 576px){
	.product-detalis-info {
		padding-left: 16px;
	}
	.product-detalis-slider h3::after {
		width: 93.5%;
		left: 16px;
	}
}
@media only screen and (max-width: 360px){
	.product-detalis-slider h3::after {
		width: 90.5%;
		left: 12px;
	}
}
/* Product Detali End*/


/*Admin Page Start*/
.update_label{
	min-width: 100%!important;
}
/*Admin Page End*/


/*Recomended Items Update STart*/
.left_arrow_carousel2, .right_arrow_carousel2 {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	padding: 4px 10px;
	color: #FFFFFF;
	background-color: #2A9BB2;
	font-size: 20px;
	z-index: 5;
	transition: background-color 0.2s;
}

.left_arrow_carousel2 {
	left: 15px;
}

.right_arrow_carousel2 {
	right: 15px;
}

.left_arrow_carousel2:hover, .right_arrow_carousel2:hover {
	background-color: #ccccc6;
	transition: background-color 0.2s;
}

.carousel_only_product {
	height: 285px;
	border: 1px solid #F7F7F5;
}

.carousel_only_product > a {
	display: block;
	margin-bottom: 10px;
	color: black;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	text-decoration: none;
}

.carousel_only_product p {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #5E7A7F;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-weight: 700;
}

/*.carousel_only_product p:nth-of-type(2) {*/
/*margin-bottom: 10px;*/
/*color: #696763;*/
/*font-family: Roboto, sans-serif;*/
/*font-size: 14px;*/
/*font-weight: 400;*/
/*}*/

.carousel_only_product button {
	margin-bottom: 25px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px;
	color: #FFFFFF;
	background: #217A8C;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	transition: background-color 0.3s;
}

.carousel_only_product button:hover {
	background: #154E59;
	color: #FFFFFF;
	transition: background-color 0.3s;
}

.carousel_product_image {
	height: 140px;
	padding: 4px;
}

.carousel_product_image img {
	max-height: 100%;
	max-width: 100%;
}
/*Recomended Items Update End*/

/*Pagination Start*/
.pagination{
	min-width: 100%;
	margin-left: 15px;
}
/*Pagination End*/
#app .dropdown-toggle::after{
	display: none!important;
}

/*Cart Start*/
.u-info-purch-block h4{
	margin-bottom: -15px;
	background: #CCCCCC;
	padding: 15px;
}
.media.user-avatar-media{
	padding-top: 15px;
	background: #F6F6F6;
}
.list-group.media-list li{
	background: transparent!important;
	border-bottom: 1px solid #CDCDCD!important;
}
.list-group.media-list{
	padding: 0px 5px;
}
.list-group-item {
	border: none;
}
.media-left.user-avatar-media-left{
	padding-left: 10px;
}
.user-avatar-label{
	display: flex;
	justify-content: center;
	padding-top: 7px;
}
.table-responsive.cart_table_div{
	margin-top: 30px;
}
.table-responsive.cart_table_div thead{
	background:#EDEDED;
}
.table-responsive.cart_table_div thead{
	padding: 10px 10px;
}
.table {
	border: 2px solid #EDEDED;
}

.shop_page.dropdown-menu {
	top: 38%!important;
}

.price-range-search {
	width:40.5%;
	background-color: #f9f9f9;
	border: 1px solid #6e6666;
	min-width: 40%;
	display: inline-block;
	height: 32px;
	border-radius: 5px;
	float: left;
	margin-bottom:20px;
	font-size:16px;
}
.price-range-field{
	width:35%;
	min-width: 16%;
	background-color:#f9f9f9;
	border: 1px solid #6e6666;
	color: black;
	font-family: myFont;
	font: normal 14px Arial, Helvetica, sans-serif;
	border-radius: 5px;
	height:26px;
	padding:5px;
}
.search-results-block{
	position: relative;
	display: block;
	clear: both;
}